<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:f="http://java.sun.com/jsf/core">
 <h:body>
	 <ui:composition template="./templates/mainTemplate.xhtml">
		 <ui:define name="top">
		 	Select preferences:
		 </ui:define>
		 <ui:define name="content">
		 	<h:form>
		 		Student:
		 		<h:selectOneMenu value="#{BeansBundle.selectedStudent}">
		 			<f:selectItems value="#{BeansBundle.students}" />
		 		</h:selectOneMenu>
		 		- Project: 
		 		<h:selectOneMenu value="#{BeansBundle.selectedProject}">
		 			<f:selectItems value="#{BeansBundle.projects}" />
		 		</h:selectOneMenu>
		 		- Rank: 
		 		<h:selectOneMenu value="#{BeansBundle.selectedRank}">
		 			 <f:selectItems value="#{BeansBundle.numberOfProjects}" />
		 		</h:selectOneMenu>
		 		<br />
		 		<h:commandButton id="mybutton" value="Submit Choise" action="#{BeansBundle.saveStudentChoise}"/>
		 	</h:form>
		 	<h:form>
		 		Lecurer:
		 		<h:selectOneMenu value="#{BeansBundle.selectedLecturer}">
		 			<f:selectItems value="#{BeansBundle.lecturers}" />
		 		</h:selectOneMenu>
		 		- Student: 
		 		<h:selectOneMenu value="#{BeansBundle.selectedStudent}">
		 			<f:selectItems value="#{BeansBundle.students}" />
		 		</h:selectOneMenu>
		 		 - Rank: 
		 		<h:selectOneMenu value="#{BeansBundle.selectedRank}">
		 			 <f:selectItems value="#{BeansBundle.numberOfStudents}" />
		 		</h:selectOneMenu>
		 		<br />
		 		<h:commandButton id="mybutton" value="Submit Choise" action="#{BeansBundle.saveLecturerChoise}"/>
		 	</h:form>
		 	<h:form prependId="false">
		 		
		 		<br />
		 		<h:commandButton id="mybutton2" value="Generate Reports" action="#{BeansBundle.generateReports}" >
		 			<f:ajax onevent="canDownload"/>
		 		</h:commandButton>
		 		<br />
		 		<br />
		 		<h:commandButton id="downloadButton1" value="Download Match Report" action="#{BeansBundle.downloadMatchReport}" />
		 		<h:commandButton id="downloadButton2" value="Download Status Report" action="#{BeansBundle.downloadStatusReport}" />
		 	</h:form>
		 	<br />
		 	<br />
		     <h:form>
		      <h:commandButton id="invisibleClickTarget" value="Match">
		        <f:ajax listener="#{BeansBundle.makeTableRows}" render="dataTable"/>
		   	 </h:commandButton>
			   <h:dataTable id="dataTable" value="#{BeansBundle.tableRows}" var="tableRow">
			      <h:column> 
			         <f:facet name="header">Lecturer</f:facet>
			         #{tableRow.lecturerName}
			      </h:column>
			      <h:column>    				
			         <f:facet name="header">Project</f:facet>    				
			         #{tableRow.projectName}
			      </h:column>
			      <h:column>
			         <f:facet name="header">Student</f:facet>
			         #{tableRow.studentName}
			      </h:column>
			   </h:dataTable>
			  </h:form>
			<script>
			 	function canDownload(){
			 	}
			 </script>
		 </ui:define>
		 <ui:define name="bottom">
		 	<h:outputLabel value="Power to the Facelets"/>
		 </ui:define>
	 </ui:composition>
 </h:body>
</html>