<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Endava Labs</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"
		media="screen" />
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"
		media="screen" />
</h:head>
<h:body>

	<div class="header header-img">
	</div>

	<div class="content">
		<div class="content-holder login-content">
			<div class="login-pos">
				<h:form id="loginform">
					<h2>Endava Labs</h2>
					<h:panelGrid columns="1" styleClass="panel-pos">
						<h:outputText value="Email" styleClass="text-pos"/>
						<h:inputText value="#{loginBean.user.userMail}"
							class="form-control" name="user" id="login-user" styleClass="input-pos">
						</h:inputText>

						<h:outputText value="Password" styleClass="text-pos"/>
						<h:inputSecret value="#{loginBean.user.userPassword}"
							class="form-control" name="pass" id="login-pass" styleClass="input-pos">
						</h:inputSecret>

						<h:outputText value="" />
						<h:commandButton value="LOGIN" styleClass="btn btn-pos"
							action="#{loginBean.login()}">
							<f:ajax render="message" onevent="click"></f:ajax>
						</h:commandButton>
						<h:panelGroup id="message" rendered="#{loginBean.showMessage}">
							<h:outputText id="login-message-text" value="#{loginBean.errorMessage}" rendered="#{loginBean.showMessage}"/> 
						</h:panelGroup>
					</h:panelGrid>
					
				</h:form>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer-holder">
			<p class="credits">Endava 2014</p>
		</div>
	</div>
</h:body>
</html>