<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Endava Labs!</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"
		media="screen" />
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"
		media="screen" />
</h:head>
<h:body>

	<h:form>
		<div class="header">
			<div class="header-holder">
				<div class="menu-holder"
					style="">
					<h:commandLink value="Posts" action="#{mainBean.showPostsTab()}" />
					<h:commandLink value="People" action="#{mainBean.showSearchTab()}"/>
					<h:commandLink value="Logout" action="#{loginBean.logout()}" />
				</div>
			</div>
		</div>
		<div class="error-pos">
			<div
				class="error-holder">
				<h:messages style="padding: 10px;"/>
			</div>
		</div>
		<div class="content">
			<div class="content-holder main-content">
				<h:panelGroup rendered="#{mainBean.showPosts}">
					<div class="post-form-holder">
						<div class="post-form-pos">
							<h:inputTextarea value="#{mainBean.post}" styleClass="input-area">
								<f:validator validatorId="com.endava.labs.validator.PostValidator" />
							</h:inputTextarea>
							<h:commandButton value="Post" action="#{mainBean.postMethod()}"
								styleClass="btn btn-post" />
								<h:message for="post" style="display:none;" />
						</div>
					</div>
					<div class="post-list-holder">
						<div class="post-list-pos">
							<div class="post-list-scroll">
								<c:forEach items="#{mainBean.posts}" var="postItems">
									<div class="enlight message-box" >
										<div style="width: 100%; padding: 10px; min-height: 50px;">
											<h:outputText value="#{postItems.user.userName}: "
												style="font-weight: bold;" />
											<h:outputText value="#{postItems.postBody}" />
										</div>
									</div>
								</c:forEach>
							</div>

							<div class="friend-list-holder">
								<c:forEach items="#{loginBean.user.friends}" var="friendsItems">
									<div class="friend-box">
										<div class="friend-name">
											<h:outputText value="#{friendsItems.userName}" />
										</div>
										<div class="friend-remove">
											<h:commandButton value="X" action="#{mainBean.unfollow}"
												styleClass="btn" style="margin-top: 5px;width: 20px;">
												<f:param name="id_unfriend" value="#{friendsItems.id}" />
											</h:commandButton>
										</div>

									</div>
								</c:forEach>
							</div>
						</div>

					</div>
				</h:panelGroup>

				<h:panelGroup rendered="#{!mainBean.showPosts}">
					<div class="search-form-holder">
						<div class="search-form-pos">
							<h:inputText value="#{mainBean.search}" class="search-text-area"/>
							<h:commandButton value="Search"
								action="#{mainBean.searchMethod()}" styleClass="btn btn-search" />
						</div>
					</div>
					<div class="search-list-holder">
						<div class="search-list-pos">
							<c:forEach items="#{mainBean.searchResults}" var="resultItems">
								<div class="enlight search-friend-box">
									<div class="search-friend-pos">
										<h:outputText value="#{resultItems.userName}" styleClass="max-width" />
										<h:commandButton value="Follow" action="#{mainBean.follow}"
											styleClass="btn btn-follow">
											<f:param name="id_friend" value="#{resultItems.id}" />
										</h:commandButton>
									</div>
								</div>
							</c:forEach>
						</div>
					</div>
				</h:panelGroup>
			</div>
		</div>
	</h:form>

	<div class="footer">
		<div class="footer-holder">
			<p class="credits">Endava 2014</p>
		</div>
	</div>
</h:body>
</html>