.error-message {
	margin-left: 30px;
	padding: 20px 20px 20px 20px;
	width: 500px;
	margin: 0 auto;
	margin-top: 60px;
	border: 1px solid #CF000F;
	border-radius: 5px;
	background-color: #F2F1EF;
}

.error-message .message {
	font-size: 20px;
}

.message-btn{
	padding: 10px;
	background-color: #6C7A89;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.message-btn:hover, .message-btn:active{
	text-decoration: none;
	background-color: #ABB7B7;
}