/* LAYOUT */
* {
	margin: 0;
	padding: 0;
}

h1 {
	color: #8C2D42;
}

.main-text,.main-text p {
	font-size: 14px;
	font-family: 'Raleway', sans-serif !important;
	font-size: 1.07em;
}

.main-text p {
	color: rgba(0, 0, 0, 0.4);
}

.left {
	float: left;
	display: inline-block;
}

.right {
	float: right;
	display: inline-block;
}

.stretch {
	height: 30px;
}

.max-width{
	width: 100% !important;
}

body {
	background-color: #3498DB;
	font-size: 16px !important;
	font-family: 'Actor', sans-serif;
	margin: 0;
}

.header {
	width: 100%;
	padding: 0px;
	margin: 0;
	background: #205081;
	border-bottom: 1px solid #2e3d54;
	color: #E2EEFF !important;
}

.header a {
	color: white !important;
	text-decoration: none;
	font-size: bold;
}

.header-holder {
	width: 1000px;
	margin: 0 auto;
	background-color: #205081;
	color: #E2EEFF !important;
	min-height: 70px !important;
}

.content {
	width: 100%;
	padding: 0px;
	margin: 0;
}

.content-holder {
	width: 1000px;
	background-color: white;
	margin: 0 auto;
	min-height: 850px;
	background-color: #3498DB;
}

.form-control {
	font-size: 16px !important;
	width: 250px !important;
	padding: 5px !important;
}

.footer {
	width: 100%;
	padding: 0px;
	margin: 0;
	background-color: #1F1F1F;
}

.footer-holder {
	width: 1000px;
	margin: 0 auto;
	background-color: #1F1F1F;
	color: white;
	min-height: 60px;
}

/* DECORATORS */
.credits {
	padding: 10px;
	padding-top: 20px;
	text-align: center;
}

.menu {
	list-style-type: none;
	display: inline-block;
	margin-top: 25px;
	margin-right: 15px;
	vertical-align: baseline;
}

.menu-item {
	display: inline-block;
	float: left;
	margin-left: 10px;
	vertical-align: baseline;
	font-weight: bold;
}

.side-menu {
	list-style-type: none;
	margin-right: 15px;
	vertical-align: baseline;
}

.side-menu-item {
	margin-left: 10px;
	vertical-align: baseline;
	font-weight: bold;
	list-style-type: none;
}
/* CONTENT */
.aligner {
	margin-left: 15px;
	padding-top: 15px;
	border: 0px;
}

fieldset {
	border: 0px;
}

form {
	margin: 0 auto;
}

form input[type='text'],form input[type='password'] {
	width: 150px;
	font-size: 14px;
	padding: 5px;
}

.btn {
	width: 100px;
	font-size: 14px;
	padding: 5px;
	background-color: #22313F;
	border: 0px;
	color: white;
	text-decoration: none;
}

.btn:hover {
	color: white !important;
	background-color: #8C2D42;
}

.alert-error {
	color: red !important;
}

.main-btn {
	background-color: #8C2D42;
	color: white;
	padding: 5px;
}

.page-content {
	margin-top: 10px;
	width: 1000px;
	margin: 0 auto;
	width: 1000px;
}

.board {
	list-style: none;
}

.board li {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	padding-right: 10px;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
}

.text-out {
	margin-left: 10px;
	display: inline-block;
}

.login-form tr,.login-form td,.login-from input {
	vertical-align: middle;
	marign: 2px;
}

.main-content {
	margin: 0 auto;
	width: 100%;
	min-height: 300px;
	bakcgorund-color: #BDC3C7;
	border-bottom: 1px solid #F2F1EF;
}

.feature-list li {
	font-family: 'Raleway', sans-serif !important;
	font-size: 1.03em;
	color: rgba(0, 0, 0, 0.4);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #8C2D42;
}

.dashboard-item {
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;
	border-left: 5px solid #2ECC71;
	margin-right: 5px;
}

.dashboard-item span {
	margin-left: 5px;
	margin-right: 5px;
}

.small-btn {
	text-decoration: none;
	color: #8C2D42;
	margin-right: 5px;
}

.editor-rez ul {
	list-style-type: disc;
	list-style-position: inside;
}

.editor-rez ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.editor-rez ul .editor-rez ul,.editor-rez ol .editor-rez ul {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 20px;
}

.editor-rez ol .editor-rez ol,.editor-rez ul .editor-rez ol {
	list-style-type: lower-latin;
	list-style-position: inside;
	margin-left: 20px;
}

.editor-rez ul li,.editor-rez ol li,.editor-rez p {
	margin-left: 5px;
}

.editor-rez li {
	display: list-item;
}

.editor-rez {
	list-style: initial;
	font-size: 14px !important;
}

.icePnlPop,.icePnlTlTip {
	border: none !important;
	background: none !important;
	background-color: none !important;
}

#simple-modal-overlay {
	display: block;
	z-index: 99998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-position: center center;
	background-repeat: no-repeat;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff
		), to(#291a49));
	background: -webkit-radial-gradient(circle, #ffffff, #291a49);
	background: -moz-radial-gradient(circle, #ffffff, #291a49);
	background: -ms-radial-gradient(circle, #ffffff, #291a49);
}

.simple-modal { /* Style rewrite */
	width: 600px;
	left: 20px;
	top: 20px;
	/* */
	position: absolute;
	margin: 0;
	color: #808080;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	background-color: #FFFFFF;
	border: 1px solid #EAEEFA;
	border: 1px solid rgba(234, 238, 250, 0.6);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	z-index: 99999;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.simple-modal .simple-modal-header {
	padding: 5px 15px;
	margin: 0;
	border-bottom: 1px solid #EEEEEE;
}

.simple-modal .simple-modal-header h1 {
	margin: 0;
	color: #404040;
	font-size: 18px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 36px;
}

.simple-modal a.close,.simple-modal a.previous-image,.simple-modal a.next-image
	{
	position: absolute;
	top: 16px;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 10px;
	text-decoration: none;
}

.simple-modal a.close {
	right: 15px;
}

.simple-modal a.previous-image {
	right: 80px;
}

.simple-modal a.next-image {
	right: 60px;
}

.simple-modal a.close:hover,.simple-modal a.previous-image:hover,.simple-modal a.next-image:hover
	{
	color: #444;
}

.simple-modal .simple-modal-body {
	padding: 15px;
	/* Extra style */
}

.simple-modal .simple-modal-body div.login-contents {
	overflow: hidden;
}

.simple-modal .simple-modal-body p {
	font-size: 13px;
	font-weight: normal;
	color: #606060;
	line-height: 18px;
}

.simple-modal .simple-modal-body p img {
	display: block;
	margin: 0 auto 10px auto;
}

.simple-modal .simple-modal-footer {
	display: block;
	background-color: #F5F5F5;
	padding: 14px 15px 15px;
	border-top: 1px solid #EEEEEE;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	-moz-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
	zoom: 1;
	margin-bottom: 0;
	text-align: center;
}

.simple-modal .simple-modal-footer a.btn {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	background-repeat: no-repeat;
	padding: 5px 14px 6px;
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid transparent;
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	transition: 0.2s linear all;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.simple-modal .simple-modal-footer a.btn.primary {
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	background-color: #999;
	background-repeat: repeat-x;
	margin-right: 15px;
}

.simple-modal .simple-modal-footer a.btn.primary:hover {
	border: 1px solid #444;
	background-color: #444;
}

.simple-modal .simple-modal-footer a.btn.secondary {
	padding: 5px 2px 6px;
}

.simple-modal .simple-modal-footer a.btn.secondary:hover {
	color: #999;
}
/* Draggable style */
.simple-modal.draggable .simple-modal-header:hover {
	cursor: move;
	background-color: #f8f8f8;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
/* Loading style */
.simple-modal.loading .simple-modal-body {
	min-height: 60px;
	background: transparent url("../images/loader.gif") no-repeat center
		center;
}

.simple-modal.loading .simple-modal-body div.login-contents {
	display: none;
}

.simple-modal.loading .close,.simple-modal.loading .simple-modal-header,.simple-modal.loading .simple-modal-footer
	{
	display: none;
}
/* Hide header */
.simple-modal.hide-header .simple-modal-header {
	display: none;
}
/* Hide header */
.simple-modal.hide-footer .simple-modal-footer {
	display: none;
}

/*******************
LOGIN FORM
*******************/
.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*******************
HEADER
*******************/
.login-form .login-header {
	padding: 20px 20px 20px 30px;
}

.login-form .login-header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	margin-bottom: 10px;
}

.login-form .login-header span {
	font-size: 11px;
	line-height: 16px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
}

.login-form span {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
}

/*******************
CONTENT
*******************/
.login-form .login-content {
	padding: 0 30px 25px 30px;
	margin: 0 auto;
}

/* Input field */
.login-form .login-content .input {
	width: 190px;
	padding: 15px 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

/* Second input field */
.login-form .login-content .password,.login-form .login-content .pass-icon
	{
	
}

.login-form .login-content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .login-content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.user-icon,.pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top: 124px;
	/* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65, 72, 72, 0.3)
		url(/cv-resume/images/login/user-icon.png) no-repeat center;
}

.pass-icon {
	top: 196px;
	background: rgba(65, 72, 72, 0.3)
		url(/cv-resume/images/login/pass-icon.png) no-repeat center;
}

.login-content input:focus+div {
	left: -46px;
}

/* Animation */
.input,.user-icon,.pass-icon,.main-button,.register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/
.login-form .login-footer {
	padding: 20px 20px 20px 20px;
	overflow: auto;
	background: #d4dedf;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Login button */
.login-form .login-footer .main-button {
	padding: 11px 25px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff !important;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
}

.login-form .login-footer .main-button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256, 256, 256, 0.75);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .login-footer .main-button:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

/* Register button */
.login-form .login-footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256, 256, 256, 0.5);
}

.login-form .login-footer .register:hover {
	color: #3f9db8;
}

.login-form .login-footer .register:focus {
	position: relative;
	bottom: -1px;
}

.main-page-btn {
	color: white !important;
	margin-left: 15px;
}

.input-width {
	width: 200px !important;
	padding: 5px;
	font-size: 16px !important;
	border-radius: 5px;
	border: 1px solid #DDDDDD;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	box-shadow: none !important;
	color: inherit !important;
}

.error {
	color: #EF4836 !important;
	padding-left: 10px !important;
	width: 190px !important;
}

div.enlight:hover {
	background-color: white !important;
}

.login-content {
	background-color: #E67E22 !important;
	width: 100%;
	min-height: 450px !important;
}

.login-pos {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.login-pos h2 {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	color: white;
}

.panel-pos {
	margin: 0 auto;
	width: 240px;
}

.text-pos {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	color: white;
}

.input-pos {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	min-width: 250px;
}

.btn-pos {
	margin-top: 10px;
	color: white !important;
}

.header-img {
	background-image: url('/endava-labs/images/cover.jpg');
	background-size: 100%;
	min-height: 450px !important;
}

.menu-holder {
	width: 220px;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 20px;
}

.menu-holder a {
	text-decoration: none !important;
	cursor: pointer;
	font-size: 16px;
	margin-right: 20px;
	padding-top: 15px;
}

.menu-holder a:HOVER {
	color: #E67E22 !important;
}

.error-pos {
	background-color: red !important;
	width: 100%;
	color: white !important;
}

.error-pos ul,.error-pos li {
	list-style: none !important;
	text-decoration: none !important;
	margin-bottom: 0;
}

.error-pos li {
	padding: 5px;
}

.error-holder {
	width: 1000px;
	margin: 0 auto;
}

.main-content {
	background-color: white !important;
	width: 100%;
	min-height: 750px !important;
}

.post-form-holder {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	vertical-align: top;
	background-color: #E67E22 !important
}

.post-form-pos {
	width: 1000px;
	margin: 0 auto;
	vertical-align: top;
}

.input-area {
	width: 100%;
	height: 90px;
	padding: 10px;
	border-radius: 10px;
}

.btn-post {
	margin-top: 5px;
	float: right;
	padding: 5px;
	width: 70px;
}

.post-list-holder {
	width: 100%;
	padding-top: vertical-align: top;
	background-color: #EEEEEE !important;
	min-height: 70vh !important;
}

.post-list-pos {
	width: 1000px;
	margin: 0 auto;
	vertical-align: top;
}

.post-list-scroll {
	width: 790px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	background-color: #F2F1EF;
	max-height: 70vh !important;
	min-height: 70vh !important;
	overflow-y: scroll;
}

.mesasge-box {
	width: 100%;
	margin: 0;
	padding: 0;
	border-left: 1px solid #E1E8ED;
	border-right: 1px solid #E1E8ED;;
	border-bottom: 1px solid #E1E8ED;
}

.friend-list-holder {
	width: 190px;
	display: inline-block;
	vertical-align: top;
	max-height: 70vh !important;
	overflow-y: scroll;
	border-right: 1px solid #E1E8ED;
	min-height: 70vh !important;
}

.friend-box {
	width: 90%;
	padding-bottom: 10px;
	vertical-align: middle !important;
	margin-left: 10px;
}

.friend-name {
	width: 80%;
	vertical-align: middle !important;
	display: inline-block;
}

.friend-remove {
	width: 10%;
	vertical-align: middle !important;
	display: inline-block;
}

.search-form-holder {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	vertical-align: top;
	background-color: #E67E22 !important;
}

.search-form-pos {
	width: 1000px;
	margin: 0 auto;
	vertical-align: top;
}

.search-text-area {
	width: 100% !important;
	padding: 10px !important;
	border-radius: 10px;
}

.btn-search {
	margin-top: 5px;
	float: right;
	padding: 5px;
	width: 70px;
}

.search-list-holder {
	width: 100%;
	padding-top: vertical-align: top;
	background-color: #EEEEEE !important;
	min-height: 75vh !important;
}

.search-list-pos {
	width: 1000px;
	margin: 0 auto;
	vertical-align: top;
}

.search-friend-box {
	width: 100%;
	margin: 0;
	padding: 0;
	border-left: 1px solid #E1E8ED;
	border-right: 1px solid #E1E8ED;;
	border-bottom: 1px solid #E1E8ED;
}

.search-friend-pos {
	width: 100%;
	padding: 10px;
	min-height: 50px;
}

.btn-follow {
	margin-top: -2px;
	float: right;
	padding: 5px;
	width: 70px;
}

#login-message-text{
	color: #ffffff;
}