<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html">
 <h:head>
 	<title>Facelets Template</title>
 	<h:outputStylesheet library="css" name="style.css"  /> 
 </h:head>
 <h:body>
 	<div id="top" class="top">
 		<a href="index.xhtml">Home</a>
 		<a href="define.xhtml">Define</a>
 		<a href="preferences.xhtml">Preferences</a>
 		<br />
 		<ui:insert name="top">Top Section</ui:insert>
	 </div>
	 <div id="content" class="main">
	 	<ui:insert name="content">Main Content</ui:insert>
	 </div>
	 <div id="bottom" class="bottom">
	 	<ui:insert name="bottom">Bottom Section</ui:insert>
	 </div>
 </h:body>
</html>