<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:f="http://java.sun.com/jsf/core"
 xmlns:ez="http://java.sun.com/jsf/composite/ezcomp/">
 <h:body>
	 <ui:composition template="./templates/mainTemplate.xhtml">
		 <ui:define name="top">
		 	<h3>Insert data</h3>
		 </ui:define>
		 <ui:define name="content">
		 	<h:form action="Insert" method="post">
		 		Student Name: 
		 		<h:inputText value="#{studentBean.name}"/><br />
		 		<ez:email value="#{studentBean.email}" /><br />
		 		<h:commandButton id="mybutton1" value="Submit" action="#{studentBean.save}"/>
		 	</h:form>
		 	<h:form>
		 		Lecturer Name: 
		 		<h:inputText value="#{lecturerBean.name}" /><br />
		 		<ez:capacity value="#{lecturerBean.capacity}" /><br />
		 		<h:commandButton id="mybutton2" value="Submit" action="#{lecturerBean.save}"/>
		 	</h:form>
		 	<h:form>
		 		Project Name: 
		 		<h:inputText value="#{projectBean.name}" /><br />
		 		<ez:capacity value="#{projectBean.capacity}" /><br />
		 		<h:commandButton id="mybutton3" value="Submit" action="#{projectBean.save}"/>
		 	</h:form>
		 	<h:form>
		 		Lecturer:
		 		<h:selectOneMenu value="#{BeansBundle.selectedLecturer}">
		 			<f:selectItems value="#{BeansBundle.lecturers}" />
		 		</h:selectOneMenu>
		 		- Project: 
		 		<h:selectOneMenu value="#{BeansBundle.selectedProject}">
		 			<f:selectItems value="#{BeansBundle.projects}" />
		 		</h:selectOneMenu>
		 		<h:commandButton id="mybutton4" value="Submit" action="#{BeansBundle.saveProjectLecturer}"/>
		 	</h:form>
		 </ui:define>
		 <ui:define name="bottom">
		 	<h:outputLabel value="Power to the Facelets"/>
		 </ui:define>
	 </ui:composition>
 </h:body>
</html>