<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html">
 <h:body>
	 <ui:composition template="./templates/mainTemplate.xhtml">
		 <ui:define name="top">
		 	Welcome to Facelets
		 </ui:define>
		 <ui:define name="content">
		 	<h:outputText value="Hello Facelets!"/>
		 </ui:define>
		 <ui:define name="bottom">
		 	<h:outputLabel value="Power to the Facelets"/>
		 </ui:define>
	 </ui:composition>
 </h:body>
</html>