body {
  font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tr{
	background: #fff;
	transition: background 0.6s;
}

tr:hover{
	 background: #BFF5DD;
	 
}