<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:composite="http://java.sun.com/jsf/composite"
 xmlns:h="http://java.sun.com/jsf/html">
 <h:head>
	<title>This content will not be displayed</title>
 </h:head>
 <h:body>
 	<composite:interface>
 		<composite:attribute name="value" required="true"/>
	 </composite:interface>
	 <composite:implementation>
	 	<h:outputLabel value="Capacity: " />
	 	<h:inputText value="#{cc.attrs.value}" converterMessage="Please enter digits only." />
	 </composite:implementation>
 </h:body>
</html>